/*display properties*/

/*
inline, block, inline-block, none
*/ 

#div-1{
	background-color: green;
	display: inline;
}
#span-1{
	background-color: purple;
	display: block;
}
#span-2{
	background-color: red;
	display: inline-block;
	height: 100px;
	width: 100px;
}
#span-3{
	background-color: hotpink;
}
#img{
	display: none;
}

/*display property notes*/

#p-1{
	background-color: #87CEFA;
}

#p-2{
	background-color: rgb(255,105,180);
	width: 60%;
}
#p-3{
	background-color: yellow;
	width: 40%;
}

.sample{
	display: inline-block;
	background-color: orange;
	border: 1px solid black;
	width: 30%;
}

/* float property: none, right, left */

.img-float{
	width: 200px;
	height: 200px;
	float: right;
}

.box{
	background-color: purple;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.fifty-vw{
	width: 50vw;
}
.twenty-five-vh{
	height: 25vh;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 50px;
}

/* notes on em, rem, 200%  */

.one-rem{
	font-size: 1rem;
}
.one-em{
	font-size: 1em;
}
.two-rem{
	font-size: 2rem;
}
.two-em{
	font-size: 2em;
}
.two-hundred-percent{
	font-size: 200%;
}

/* css background properties */

/* background-repeat: no-repeat, repeat-x, repeat-y, round, */

/*background position:  left top, left center, left bottom, right top, right center, right bottom, center top, center center, center bottom*/

/*background-attachment: scroll, fixed, inherit*/
.background{
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	background-attachment: fixed;
}

/*css positioning*/
/*
	position: static, absolute, fixed, relative, sticky
*/
.parent-element{
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}

.child-one{
	background-color: gray;
	padding: 10px;
}


.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three{
	background-color: darkgray;
	padding: 10px;
}

/*Z index is the property that determines elements appearon top of another html element when they overlap. The element that has the heighest z-index is on "top"

*/
.container{
	position: relative;

}

.black-box{
	position: relative;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
	z-index: 1;
}

.gray-box{
	position: absolute;
	left: 50px;
	top: 50px;
	background-color: lightgray;
	height: 60px;
	width: 70%;
	z-index: 3;
}

.green-box{
	position: absolute;
	left: 270px;
	top: -15px;
	background-color: green;
	height: 150px;
	z-index: 2;
}







































































