*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
li{
	display: inline;
}
.right-nav{
	display: inline-block;
	width: 90%;
	text-align: right;
}

.nav{
	margin-right: 1rem;
}
nav{

	margin-bottom: 1em;
	margin-top: 1em;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.tuitt-button{
	border: none;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	font-size: 1rem;
	padding: 10px;
}
.intro{
	text-align: center;
}
.intro .intro-description{
	text-align: left;
	display: inline-block;
	width: 70%;
	margin-top: 5rem;
	margin-bottom: 5em;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.title-2{
	font-family: 'Zilla Slab', sans-serif;
	font-weight: bold;
	padding-top: 3em;
	font-size: 35px;
}
.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
}

.book-button{
	width: 10em;
	border: none;
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 50px;
	font-size: 1rem;
	padding: 10px;
	margin-bottom: 10rem;
}

footer{
	text-align: center;
}
.prefooter-description{
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-left: 7rem;
	margin-right: 7rem;
}
span{
	padding-right: .5em;
	padding-left: .5em;
}
.front-bg{
	text-align: right;
	color: white;
	height: 50vh;
}
#bg-image{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 20vh;
	background-size: 100%;
	background-position: center;

}
.apply-button{
		border: none;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 50px;
	font-size: 1rem;
	padding: 10px;
	width: 10em;
	margin-right: 6%;
	margin-left: 60%;
	margin-bottom: 2rem;
}
.title{
	font-family: 'Zilla Slab', sans-serif;
	font-size: 35px;
	text-align: right;
	margin-right: 6%;
	margin-left: 50%;
	margin-bottom: 2rem;
}
.subtitle{
	text-align: right;
	font-weight: normal;
	font-size: 15px;
	margin-right: 6%;
	margin-left: 60%;
	margin-bottom: 2rem;
}
nav{
	position: sticky;
	top: 0;
	background-color: white;
	padding-bottom: 7px;
}